<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="/web/js/jquery.js"></script>
    <script src="/web/js/jquery.validate.js"></script>
    <script src="/web/js/order.js"></script>
    <title>Store</title>
</head>
<body>
<main>
    <form id="order-form">
        <label for="order-form">Put order UID</label>
        <input type="text" id="order_uid">
        <button type="submit" class="button">Get order</button>
    </form>
    <pre id="order-data"></pre>
</main>
</body>
</html>